/* This sets a very light purple background and default font the webpage page */
body, html {
    margin: 0; 
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fdfafd; 
}

/* Grey background for the header with a shadow that is fixed at the top of the screen */
header {
    background: #D5D6D2; 
    box-shadow: 0 14px 4px rgba(0, 0, 0, 0.1); 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000;
    font-weight: 700;
    font-size: large;
}

/* This centers everything in the container along with some padding */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%; 
    max-width: 1200px; 
    margin: 0 auto; 
}

/* Light black text for the title and navigation links with the underlines removed */
.title, .links a {
    color: #1b1b1b; 
    text-decoration: none; 
}

/* created a flexbox for the links */
.links {
    display: flex;
    gap: 20px; 
}

.links a {
    padding: 5px 10px; 
}

/* to maintain space */
main {
    padding-top: 70px; 
    width: 80%; 
    margin: 0 auto; 
}

/* padding for each section */
section {
    text-align: center; 
    padding: 20px; 
}

/* to make sure the content is vertically aligned */
.content, .grid, .vertical {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px; 
}

/*spaces around the paragrapgh*/
p {
    margin-top: 2px; 
    margin-bottom: 2px; 
}

/* the image needs to maintain the right size */
.image img, .grid img, .vertical img {
    width: 100%; 
    height: auto; 
}

/* This is to make sure the text fits the images */
.text {
    max-width: 300px; 
}

/* This is a Grid layout for edited images */
.grid .item, .vertical .item {
    width: 34%; 
    margin: 0 auto; 
    padding: 10px; 
}

/* this is the light grey divider between the sections */
hr {
    margin: 40px 0; 
    border: none; 
    height: 1px; 
    background-color: #ccc; 
}



